VITE_API_BASE_URL='http://127.0.0.1:18181/v1'
VITE_REMOTE_API_BASE_URL='https://cafe-postcode.uz/api/v1'
VITE_API_TIMEOUT='15000'
VITE_EDGE_BASE_URL='http://127.0.0.1:18181'
VITE_CONTROL_APP_URL='https://admin.cafe-postcode.uz'
VITE_APP_VERSION='web'
VITE_MONITOR_ANNOUNCEMENT_BASE_URL='/monitor-announcements/v1/uz/female'
